* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.container {
  max-width: 1215px;
  margin: 0 auto;
}

.navbar {
  width: 100% !important;
}

.things {
  display: flex;
  width: 100%;
  align-items: center;
}

.container-fluid {
  width: 100% !important;
  border: 1px solid rgba(0, 255, 255, 0);
  display: flex;
  justify-content: space-between !important;
}

.header {
  padding-top: 30px;
  width: 100%;
}
.header .header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  display: flex;
}
.header ul li {
  color: rgb(75, 75, 75);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  margin-left: 50px;
}
.header .contact {
  margin-left: 140px;
  display: flex;
}
.header .contact .contact_number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 40px;
}
.header .contact .contact_number h1 {
  color: rgb(75, 75, 75);
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}
.header .contact .contact_number p {
  color: rgb(255, 118, 72);
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0%;
  text-decoration-line: underline;
}
.header .contact a {
  width: 32px;
  height: 32px;
  margin: 15px;
}

.introduction .introduction_wrapper {
  display: flex;
}
.introduction .introduction_wrapper .introduction_content {
  width: 50%;
  margin-top: 130px;
}
.introduction .introduction_wrapper .introduction_content h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 3%;
  text-align: left;
}
.introduction .introduction_wrapper .introduction_content h1 span {
  color: rgb(255, 118, 72);
}
.introduction .introduction_wrapper .introduction_content p {
  color: rgba(75, 75, 75, 0.75);
  font-size: 20px;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0%;
  text-align: left;
}
.introduction .introduction_wrapper .introduction_content .button_wrapper {
  margin-top: 40px;
}
.introduction .introduction_wrapper .introduction_content .button_wrapper button {
  color: rgb(104, 203, 87);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  background-color: rgb(104, 203, 87);
  margin: 30px 20px 20px 0px;
  border-radius: 30px;
  padding: 15px 29px;
  color: #FFF;
}
.introduction .introduction_wrapper .introduction_content .button_wrapper .button_wrapper_second {
  color: rgb(104, 203, 87);
  background-color: #fff;
  border: 1px solid rgb(104, 203, 87);
}
.introduction .introduction_wrapper img {
  width: 50%;
}

.comfort_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.comfort_wrapper h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 3%;
}
.comfort_wrapper h1 span {
  color: rgb(255, 118, 72);
}
.comfort_wrapper p {
  margin: 10px;
  color: rgba(72, 72, 72, 0.5);
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
}
.comfort_wrapper .cart_wrapper {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.comfort_wrapper .cart_wrapper .cart {
  width: 281px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.comfort_wrapper .cart_wrapper .cart h4 {
  color: rgb(75, 75, 75);
  margin: 10px 0px;
  font-size: 22px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 3%;
  text-align: center;
}
.comfort_wrapper .cart_wrapper .cart p {
  color: rgba(75, 75, 75, 0.75);
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0%;
  text-align: center;
}

.cataloge_wrapper {
  margin-top: 100px;
}
.cataloge_wrapper h1 {
  margin-top: 100px;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 3%;
  text-align: left;
}
.cataloge_wrapper h1 span {
  color: rgb(255, 118, 72);
}
.cataloge_wrapper p {
  color: rgba(72, 72, 72, 0.5);
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.cataloge_wrapper .row_1 {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.cataloge_wrapper .cart_product {
  margin: 20px;
  padding: 30px 10px;
  border-radius: 20px;
  background-color: #f7f6fa;
  position: relative;
  width: 598px;
  height: 413px;
}
.cataloge_wrapper .cart_product img {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}
.cataloge_wrapper .cart_product .cart_product_content {
  z-index: 5;
  position: absolute;
}
.cataloge_wrapper .cart_product h4 {
  color: rgb(75, 75, 75);
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 3%;
  text-align: left;
}
.cataloge_wrapper .cart_product button {
  padding: 10px 25px;
  border-radius: 25px;
  background-color: rgb(104, 203, 87);
  color: #FFF;
  border: none;
  margin-bottom: 40px;
}
.cataloge_wrapper .cart_product i {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  text-decoration-line: underline;
}
.cataloge_wrapper .row-2 {
  display: flex;
  justify-content: space-between;
}
.cataloge_wrapper .row-2 .row_2_cart_wr {
  background-color: #fff !important;
}
.cataloge_wrapper .row-2 .row_2_cart_wr .row_2_cart_mini {
  display: flex;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 100%;
  height: 49%;
  background-color: #f7f6fa;
}
.cataloge_wrapper .row-2 .row_2_cart_wr .row_2_cart_mini img {
  position: static;
}
.cataloge_wrapper .row-2 .row_2_cart {
  border-radius: 10px;
  padding: 10px;
  position: relative;
  width: 289px;
  height: 251px;
  background-color: #f7f6fa;
}
.cataloge_wrapper .row-2 .row_2_cart h5 {
  color: rgb(75, 75, 75);
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 3%;
  text-align: left;
  margin-top: 20px;
}
.cataloge_wrapper .row-2 .row_2_cart img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.brend {
  padding-top: 150px;
}
.brend .brend_wrapper h1 {
  margin: 20px 0px;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 3%;
  text-align: left;
}
.brend .brend_wrapper h1 span {
  color: rgb(255, 118, 72);
}
.brend .brend_wrapper p {
  color: rgba(72, 72, 72, 0.5);
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.brend .brend_wrapper .brend_cart {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.brend .brend_wrapper .brend_cart .brend_content {
  margin: 20px;
}
.brend .brend_wrapper .brend_cart .brend_content h4 {
  color: rgb(75, 75, 75);
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: left;
}
.brend .brend_wrapper .video_wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.brend .brend_wrapper .video_wrapper img {
  margin: 10px;
}

.questions {
  margin-top: 100px;
}
.questions .questions_wrapper .question_cart_wrapper {
  display: flex;
}
.questions .questions_wrapper .question_cart_wrapper .eneually_questions {
  margin-top: 40px;
  margin-left: 30px;
}
.questions .questions_wrapper h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 3%;
  text-align: left;
}
.questions .questions_wrapper h1 span {
  color: rgb(104, 203, 87);
}
.questions .questions_wrapper p {
  color: rgba(72, 72, 72, 0.5);
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.questions .questions_wrapper .stay_question {
  height: 522px;
  margin-top: 40px;
  width: 392px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgb(70, 63, 63);
  color: #FFF;
  align-items: center;
  border-radius: 20px;
}
.questions .questions_wrapper .stay_question h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.questions .questions_wrapper .stay_question p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 145%;
  letter-spacing: 0%;
  text-align: center;
}
.questions .questions_wrapper .stay_question h5 {
  color: rgba(255, 255, 255, 0.89);
  margin: 20px 0px;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  text-align: left;
}
.questions .questions_wrapper .stay_question h3 {
  color: rgba(255, 255, 255, 0.89);
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.questions .questions_wrapper .stay_question input {
  color: rgba(72, 72, 72, 0.5);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 145%;
  border: none;
  outline: none;
  width: 312px;
  height: 68px;
  border-radius: 30px;
}
.questions .questions_wrapper .stay_question button {
  margin: 20px 0px;
  color: #FFF;
  border: none;
  width: 312px;
  height: 68px;
  border-radius: 30px;
  background-color: rgb(104, 203, 87);
}
.questions .questions_wrapper .stay_question i {
  text-decoration: underline;
  margin-bottom: 20px;
}
.questions .questions_wrapper .eneually_questions .question_1 {
  margin: 20px;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
}
.questions .questions_wrapper .eneually_questions .question_1 hr {
  width: 100%;
}
.questions .questions_wrapper .eneually_questions .question_1 h4 {
  color: rgb(0, 0, 0);
  margin-left: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
}
.questions .questions_wrapper .eneually_questions .question_2 {
  margin: 20px;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
}
.questions .questions_wrapper .eneually_questions .question_2 hr {
  width: 100%;
}
.questions .questions_wrapper .eneually_questions .question_2 h4 {
  color: rgb(0, 0, 0);
  margin-left: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
}
.questions .questions_wrapper .eneually_questions .ask {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(104, 203, 87);
  color: #FFF;
  font-size: 30px;
}

.map {
  margin-top: 150px;
  position: relative;
}
.map .map-map {
  width: 100%;
  height: 700px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
.map .contacts {
  border-radius: 20px;
  margin-top: 100px;
  padding: 40px 60px;
  background-color: #fff;
  position: absolute;
  z-index: 500;
}
.map .contacts h1 {
  margin: 10px;
}
.map .contacts ul li {
  margin: 22px 0px;
  color: rgb(75, 75, 75);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  display: flex;
  align-items: center;
}
.map .contacts i {
  color: rgba(72, 72, 72, 0.5);
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.map .contacts h3 {
  color: rgb(0, 0, 0);
  margin: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.footer {
  margin-top: 900px;
}
.footer .footer_wrapper {
  display: flex;
  justify-content: space-around;
}
.footer .footer_wrapper .left_side h4 {
  color: rgb(75, 75, 75);
  font-size: 14px;
  font-weight: 500;
  line-height: 145%;
  margin: 20px 0px;
}
.footer .footer_wrapper .left_side p {
  margin-bottom: 40px;
  color: rgba(72, 72, 72, 0.5);
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}
.footer .footer_wrapper .center_side {
  margin-top: 30px;
}
.footer .footer_wrapper .center_side h4 {
  color: rgb(75, 75, 75);
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 40px;
}
.footer .footer_wrapper .center_side p {
  margin: 10px 0px;
  color: rgb(75, 75, 75);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}
.footer .footer_wrapper .center_side i {
  color: rgb(255, 118, 72);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-decoration-line: underline;
  color: rgb(255, 118, 72);
}
.footer .footer_wrapper .right_side {
  margin-top: 30px;
}
.footer .footer_wrapper .right_side h4 {
  color: rgb(75, 75, 75);
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 40px;
}
.footer .footer_wrapper .right_side p {
  margin: 10px 0px;
  color: rgb(75, 75, 75);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}
.footer .footer_wrapper .right_side i {
  color: rgb(255, 118, 72);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-decoration-line: underline;
  color: rgb(255, 118, 72);
}

@media (max-width: 1200px) {
  .introduction_wrapper .introduction_content h1 {
    font-size: 30px !important;
  }
  .introduction_wrapper .introduction_content p {
    font-size: 14px !important;
  }
  .introduction_wrapper .introduction_content .button_wrapper button {
    margin: 0px !important;
  }
  .introduction_wrapper img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .row-2 {
    align-items: center;
    justify-content: center !important;
    flex-wrap: wrap;
  }
  .row-2 .row_2_cart {
    margin: 10px;
  }
  .brend_wrapper h1 {
    font-size: 35px !important;
  }
  .brend_wrapper p {
    font-size: 16px !important;
  }
  .brend_wrapper .brend_cart h4 {
    font-size: 20px !important;
  }
}
@media (max-width: 990px) {
  .introduction_wrapper .introduction_content h1 {
    font-size: 25px !important;
  }
  .introduction_wrapper .introduction_content p {
    font-size: 10px !important;
  }
  .introduction_wrapper .introduction_content .button_wrapper button {
    margin: 10px !important;
  }
  .introduction_wrapper .introduction_content .button_wrapper .button_wrapper_second {
    font-size: 12px !important;
  }
  .introduction_wrapper img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .row_1 {
    flex-wrap: wrap;
  }
  .brend_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .brend_cart {
    flex-direction: column;
    align-items: center;
  }
  .brend_cart img {
    width: 100% !important;
  }
  .questions_wrapper h1 {
    text-align: center !important;
    font-size: 30px !important;
  }
  .question_cart_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .question_cart_wrapper .question_1 {
    justify-content: center;
  }
  .question_cart_wrapper .question_1 h4 {
    text-align: center !important;
    font-size: 25px !important;
  }
  .question_cart_wrapper .question_1 P {
    text-align: center !important;
  }
  .question_cart_wrapper .question_2 {
    justify-content: center;
  }
  .question_cart_wrapper .question_2 h4 {
    text-align: center !important;
    font-size: 25px !important;
  }
  .question_cart_wrapper .question_2 P {
    text-align: center !important;
  }
}
@media (max-width: 760px) {
  .comfort_wrapper h1 {
    margin-top: 50px;
    font-size: 30px !important;
  }
  .comfort_wrapper p {
    font-size: 16px !important;
  }
  .comfort_wrapper .cart_wrapper {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .comfort_wrapper .cart_wrapper .cart {
    margin: 20px;
  }
  .comfort_wrapper .cart_wrapper .cart h4 {
    font-size: 16px !important;
  }
  .comfort_wrapper .cart_wrapper .cart p {
    font-size: 12px !important;
  }
  .cataloge_wrapper h1 {
    text-align: center;
    font-size: 30px !important;
  }
  .cataloge_wrapper p {
    text-align: center;
    font-size: 16px !important;
  }
  .video_wrapper {
    justify-content: center !important;
  }
}
@media (max-width: 600px) {
  .introduction_wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .introduction_wrapper img {
    width: 100% !important;
  }
  .introduction_wrapper .introduction_content {
    margin-top: 50px !important;
  }
  .introduction_wrapper .introduction_content h1 {
    font-size: 28px !important;
  }
  .introduction_wrapper .introduction_content p {
    font-size: 16px !important;
  }
}
@media (max-width: 500px) {
  .question_cart_wrapper .stay_question {
    margin-top: 40px;
    width: 342px !important;
    display: flex;
    flex-direction: column;
    padding: 25px !important;
    background-color: rgb(70, 63, 63);
    color: #FFF;
    align-items: center;
    border-radius: 20px;
  }
  .question_cart_wrapper .stay_question h4 {
    font-size: 25px !important;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
  }
  .question_cart_wrapper .stay_question p {
    color: rgb(255, 255, 255);
    font-size: 12px !important;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
  }
  .question_cart_wrapper .stay_question h5 {
    color: rgba(255, 255, 255, 0.89);
    margin: 20px 0px;
    font-size: 16px !important;
    font-weight: 500;
    line-height: 100%;
    text-align: left;
  }
  .question_cart_wrapper .stay_question h3 {
    color: rgba(255, 255, 255, 0.89);
    font-size: 16px !important;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
  }
  .question_cart_wrapper .stay_question input {
    color: rgba(72, 72, 72, 0.5);
    text-align: center;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 145%;
    border: none;
    outline: none;
    width: 312px;
    height: 68px;
    border-radius: 30px;
  }
  .question_cart_wrapper .stay_question button {
    margin: 20px 0px;
    color: #FFF;
    border: none;
    width: 312px;
    height: 68px;
    border-radius: 30px;
    background-color: rgb(104, 203, 87);
  }
  .question_cart_wrapper .stay_question i {
    text-decoration: underline;
    margin-bottom: 20px;
  }
  .question_cart_wrapper .eneually_questions .question_1 h4 {
    font-size: 20px !important;
  }
  .question_cart_wrapper .eneually_questions .question_1 p {
    font-size: 14px !important;
  }
  .question_cart_wrapper .eneually_questions .question_2 h4 {
    font-size: 20px !important;
  }
  .question_cart_wrapper .eneually_questions .question_2 p {
    font-size: 14px !important;
  }
  .map-map {
    margin-top: 550px;
  }
  .contacts {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    position: static !important;
  }
}/*# sourceMappingURL=index.css.map */